.note-form {
    width: 100%;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.note-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    resize: none;
}

.title-input {
    height: 40px;
    width: 90%;
}

.text-input {
    min-height: 120px;
    width: 90%;
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.file-input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    cursor: pointer;
}

.file-input-label {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-input-label:hover {
    background-color: #45a049;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.tag {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
}

.tag-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.tag-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 1rem;
}

.add-tag-button {
    background-color: #fff;
    color: #4CAF50;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 1px solid #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-tag-button:hover {
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #45a049;
}
